

.text-input{
	-fx-background-radius : 20;
	-fx-text-fill: #000;
	-fx-prompt-text-fill: #d4cee3;
}

.text-input-exemple{
	-fx-background-radius : 0;
        -fx-background-color: #0080ff;  //#6f74dd;
	-fx-text-fill: #FFF;
	-fx-prompt-text-fill: #fff;
        
}

.button{
	-fx-background-color: #0080ff;
	-fx-text-fill: #fff;
        -fx-background-radius : 5;
}
.button:hover{
	-fx-text-fill: #0b5095;
}
.button:pressed{
	-fx-text-fill: #498dd1;
}
.button1:active{
	-fx-text-fill: #498dd1;
}
.image1{
    -fx-image: url(adminn.png);
}
.image2{
    -fx-image: url(assistant.png);
}
.image3{
    -fx-image: url(medecin.png);
}
